<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>20/09/21 14:49:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.screenShot(org.testng.ITestResult)[pri:0, instance:com.practice.testcases.TC_test_01@6093dd95]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/09/21 14:49:36</td>   <td>-15440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_test_01.signin()[pri:0, instance:com.practice.testcases.TC_test_01@6093dd95]">signin</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>20/09/21 14:49:14</td>   <td>-37858</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.tc()[pri:0, instance:com.practice.testcases.TC_test_01@6093dd95]">&gt;&gt;tc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
