<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Testing project</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcfece">  <td>20/09/21 18:25:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.tc()[pri:0, instance:com.practice.testcases.TC_test_01@5622fdf]">&gt;&gt;tc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/09/21 18:25:57</td>   <td>16536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_test_01.signin()[pri:0, instance:com.practice.testcases.TC_test_01@5622fdf]">signin</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/09/21 18:26:08</td>   <td>27588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.screenShot(org.testng.ITestResult)[pri:0, instance:com.practice.testcases.TC_test_01@5622fdf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/09/21 18:26:09</td>   <td>28299</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.tc()[pri:0, instance:com.practice.testcases.TC_test_02@4883b407]">&gt;&gt;tc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/09/21 18:26:24</td>   <td>43626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_test_02.profuct_flow()[pri:0, instance:com.practice.testcases.TC_test_02@4883b407]">profuct_flow</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/09/21 18:26:48</td>   <td>67829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.screenShot(org.testng.ITestResult)[pri:0, instance:com.practice.testcases.TC_test_02@4883b407]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
</table>
